/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

/* common styles or utilities */
:root {
    --dark-01: #131313;
    --dark-02: #424242;
    --dark-03: #727272;
    --orange: #FF900E;
    --white: #FFFFFF;
}

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: rgba(255, 144, 14, 0.1);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px;
}

.section-title {
    font-size: 45px;
    font-weight: 700;
    color: var(--dark-01);
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: var(--orange);
    color: var(--white);
    border-radius: 8px;
    border: none;
}

/* buttons styles  */

.btn-small {
    padding: 16px 25px;
    font-size: 20px;
}
.btn-large {
    padding: 45px 40px;
    text-align: center;
    position: relative;
    bottom: 50px;
    right: 30px;
}
.years {
    font-size: 65px;
    font-weight: 700;
}


/* nav-bar styles */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar a {
    text-decoration: none;
}
.nav-title {
    font-size: 30px;
    font-weight: 700;
}
.nav-title a {
    color: var(--dark-01);
}

.items {
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.item {
    font-size: 18px;
    font-weight: 500;
}
.item a {
    color: var(--dark-02);
}

/* banner styles */


.banner,
.banner-text {
    display: flex;
    flex-direction: column;
}
.banner {
    gap: 50px;
}
.banner-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.banner-title {
    font-weight: 700;
    font-size: 4em;
    color: var(--dark-01);
}
.banner-description {
    width: 50%;
    color: var(--dark-03);
}
.banner-image img {
    width: 100%;
}

/* quick list section styles  */
.quick-list-section{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.quick-list-gellary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.quick-list-gellary img {
    width: 100%;
}
.quick-list-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 50%;
}
.style-text-thin {
    color: var(--dark-03);
    font-weight: 400;
}
.style-text-bold {
    color: var(--orange);
}

/* features-section styles */
.features-section{
    display: flex;
    margin-bottom: 50px;
}

.features-section-left {
    width: 50%;
}

.feature-title-box {
    display: flex;
    gap: 10px;
}
.line {
    width: 3px;
    background-color: var(--orange);
    
}
.more-features{
    padding: 10px;
}

/* .feature-image {
    width: 50%;
} */
.feature-image img {
    width: 100%;
}
.features-section-right {
    width: 50%;
}
/* our-facts-section styles */
.our-facts-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}
.facts {
    display: flex;
    justify-content: space-around;
}
.fact {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 8px;
    border: 2px solid var(--orange);
    transition: transform 0.3s ease;
}

.fact :hover {
    transform: scale(.5);
}

/* sponsors-section styles */
.sponsors-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin: 50px auto;
}
.sponsors {
    display: flex;
    justify-content: space-around;
}
.sponsor img {
    filter: brightness(0);
    width: 100%;
}


/* What we do section styles */


.what-we-do-section {
    margin: 50px auto;
}
.what-we-do-title {
    text-align: center;
    margin-bottom: 30px;
}
.what-we-do {
    display: flex;
    gap: 30px;
}
.what-we-do-left{
    width: 50%;
    text-align: right;
}
.divider {
    width: 1px;
    background-color: var(--dark-02);
}
.what-we-do-right{
    width: 50%;
    text-align: left;
}


/* footer styles  */

.footer {
    text-align: center;
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 50px auto;
}

 /* Mobile responsive styles  */

@media only screen and (max-width: 600px) {
    .nav-bar {
        display: block;
        align-items: center;
    }
    .nav-title,
    .items,
    .more-features,
    .features-section-right,
    .our-facts-section  {
        text-align: center;
    }
    .items {
        display: block;
    }
    .quick-list-section{
        flex-direction: column-reverse;
        text-align: center;
    }
    .quick-list-gellary{
        grid-template-columns: repeat(1, 1fr);
    }
    .features-section, 
    .facts,
    .sponsors{
        flex-direction: column;
    }
    .features-section-left,
    .features-section-right {
        width: 100%;
    }
    .features-title {
        margin: 0 auto;
    }
    .btn-large {
        position: static;
    }
    .years {
        font-size: 40px;
        font-weight: 700;
    }
    .facts {
        align-items: center;
        row-gap: 20px;
    }
    .sponsors {
        row-gap: 20px;
    }
    .sponsor img {
        width: auto;
    }
    
}